@media (max-width: 1366px) {
  #header-home .context-home .personal_image {
    right: 0;
  }
}

@media (max-width: 1024px) {
  #header-home {
    height: 60vh;

    .green-background {
      img {
        height: 10vh;
      }
    }

    .navbar {
      display: grid;
      grid-template-columns: 0.5fr 2fr;
    }

    .context-home {
      .content-text {
        margin-top: 15vh;
        .wrapper {
          h1 {
            font-size: 4.5vmin;
          }
        }

        h2 {
          font-size: 2vmin;
        }
      }

      .buttons-home {
        .box {
          margin-right: 10%;

          .btn-box {
            position: absolute;
            padding: 3.5vmin 10vmin;
          }
        }

        .btn-header {
          a {
            font-size: 3vmin;
          }
        }
      }

      .personal_image {
        position: absolute;
        right: 0;

        img {
          width: 10rem;
        }
      }
    }
  }

  #about {
    height: 30vh;

    .about-text {
      margin: 0;
      padding: 0 25%;
    }
  }

  #job-electrical .wrapper .logo-tech {
    top: -11rem;
  }

  #job-frontend .wrapper-1 .img-frontend {
    width: 60vw;
  }
}

@media (max-width: 768px) {
  .logo {
    width: 8rem;
    height: 3rem;
  }

  #header-home {
    height: 60vh;

    .green-background {
      img {
        min-height: 50vh;
      }
    }

    .navbar {
      grid-template-columns: 0fr 2fr;

      ul {
        li {
          padding: 1rem 1rem;
          a {
            font-size: 0.7rem;

            &.btn {
              font-size: 0.9rem;
            }
          }
        }
      }
    }

    .context-home {
      .content-text {
        margin-top: 10vh;
      }

      .personal_image {
        position: absolute;
        right: 0;
        width: 50%;
      }
    }
  }

  #about {
    height: 35vh;

    .about-text {
      margin: 0;
      padding: 0 25%;
    }
  }

  #job-electrical {
    .wrapper-1 {
      top: -3rem;
      .boxes {
        grid-gap: 1rem;

        .box {
          .content {
            img {
              margin-bottom: 0;
            }

            .text {
              margin: 0;
              padding: 0 0.5rem;
            }
          }
        }
      }
    }
    .wrapper {
      margin-top: 3rem;
      height: 40vh;
      .logo-tech {
        top: -9rem;
      }
    }
  }

  #job-frontend .wrapper-1 {
    top: -6rem;
    .img-frontend {
      left: -5%;
    }
    .boxes .container-box {
      margin-left: 1rem;

      .box {
        &:nth-child(even) {
          margin-left: 1rem;
        }
        .content {
          img {
            margin-bottom: 0;
          }

          .text {
            margin: 0;
            padding: 0 0.5rem;
          }
        }
      }
    }
  }

  #contact {
    padding: 0;
    justify-content: left;
    .context {
      width: 100%;
    }

    form {
      display: none;
    }
  }
}

@media (max-width: 414px) {
  body {
    background: #fff;
  }

  .logo {
    width: 159px;
    height: 52px;
  }

  #header-home {
    height: 100vh;

    .green-background {
      left: 0;
      .laptop_bg {
        visibility: hidden;
      }

      .phone_bg {
        position: absolute;
        top: 0;
        height: 65vh;
        width: 100vw;

        visibility: visible;
      }
    }

    .navbar {
      ul {
        visibility: hidden;
      }
    }

    .context-home {
      margin: 0;
      .content-text {
        margin-top: 30%;
        .wrapper {
          margin-bottom: 0.5rem;

          h1 {
            display: flex;
            flex-direction: column;
            font-size: 1.8rem;

            span {
              margin-bottom: 0.5rem;
              font-size: 0.7rem;
            }
          }
        }

        h2 {
          font-size: 0.8rem;
        }
      }

      .buttons-home {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        margin-top: 15vh;

        .box {
          margin-right: 10%;
          margin-bottom: 2rem;

          &:hover {
            .btn-box {
              padding: 2.5rem 6rem;
            }
          }
          .btn-box {
            position: absolute;
            padding: 2.5rem 6rem;
          }
        }

        .btn-header {
          a {
            font-size: 1.5rem;
          }
        }
      }

      .personal_image {
        visibility: hidden;
      }
    }
  }

  #about {
    height: 60vh;
    margin-top: 2rem;

    .about-text {
      margin: 0;
      padding: 0;

      h1 {
        margin-bottom: 0rem;
        font-size: 1.5rem;
      }

      p {
        padding: 1rem 2rem;
        font-size: 0.7rem;
      }

      .lead {
        font-size: 0.8rem;
      }

      .context {
        background: $primary-color;
      }

      .buttons-about {
        align-items: center;
        justify-content: center;
        margin: 0;

        img {
          position: relative;
          bottom: 0;
          right: 0;
          width: 10rem;
          display: inline-block;
          width: 146px;
          height: 185px;
        }

        .contact-btn {
          flex-direction: column;
          width: 40%;

          a {
            width: 100%;
            font-size: 1rem;
            margin-bottom: 0.5rem;

            &:first-child {
              width: 100%;
            }
          }
        }
      }
    }
  }

  #job {
    &-electrical {
      .wrapper {
        height: 45vh;
        margin: 0;
        padding-top: 1rem;

        .header {
          font-size: 1.2rem;
          background: $primary-color;
          width: 70vw;
          padding: 0.5rem 1rem 0.1rem 1rem;
          text-align: start;
          color: #fff;
          margin-bottom: 2rem;
        }

        .logo-tech {
          display: none;
        }
        .wrapper-1 {
          top: 0;

          overflow-x: scroll;
          scroll-snap-type: x proximity;

          .boxes {
            margin-left: 60%;
            margin-bottom: 5%;
            grid-gap: 1rem;
            grid-template-columns: repeat(3, 50%);
            width: 100vw;

            .box {
              padding: 10% 5%;

              .content {
                img {
                  width: 20%;
                  margin-bottom: 0;
                }

                .lead {
                  font-size: 0.8rem;
                  margin: 0.5rem 0;
                }

                .text {
                  font-size: 0.7rem;
                }

                .text {
                  padding: 0 0.5rem;
                }
              }
            }
          }

          img:last-child {
            display: none;
          }
        }
      }
    }

    &-frontend {
      .wrapper {
        height: 45vh;
        margin: 0;
        padding-top: 1rem;
        background: $secondary-color;

        .header {
          font-size: 1.2rem;
          background: $primary-color;
          width: 70vw;
          padding: 0.5rem 1rem 0.1rem 1rem;
          text-align: start;
          color: #fff;
          margin-bottom: 2rem;
        }

        .wrapper-1 {
          top: 0;

          overflow-x: scroll;
          scroll-snap-type: x proximity;
          .boxes {
            margin-bottom: 10%;
            margin-top: 0;
            margin-left: 0;
            width: 100%;
            margin-bottom: 5%;

            .logo-tech {
              display: none;
            }

            .container-box {
              display: grid;
              grid-template-columns: repeat(2, 50%);

              .box {
                height: 220px;
                .content {
                  padding: 0 5%;
                  margin: auto;
                  img {
                    width: 20%;
                    margin-bottom: 0;
                  }

                  .lead {
                    font-size: 0.8rem;
                    margin: 0.5rem 0;
                  }

                  .text {
                    font-size: 0.7rem;
                  }

                  .text {
                    padding: 0 0.5rem;
                  }
                }
              }
            }
          }
        }
      }
      .img-frontend {
        display: none;
      }
    }
  }
}
