@media (min-width: 3200px) {
  .container {
    max-width: 4000px;
  }

  #contact {
    padding: 10rem;
    padding-bottom: 0;
  }

  #contact form input {
    padding: 1rem;
  }
}

@media (min-width: 2200px) {
  .logo {
    width: 50%;
    height: 100%;
  }

  .container {
    margin-top: 2%;
    max-width: 3000px;
    padding: 0 10vw;
  }

  @media (min-width: 3700px) {
    .container {
      max-width: 4000px;
    }
  }

  #header-home .context-home .social img {
    width: 3.5vw;
  }

  #job-electrical .wrapper .img-electrical {
    width: 100vw;
  }

  #job-electrical .wrapper .logo-tech {
    margin-left: 12%;
    padding: 0;
    top: -20rem;
    width: 60vw;
    display: block;
  }

  #portfolio .construction h1 {
    font-size: 2vw;
  }

  #contact {
    .context {
      h1 {
        font-size: 2vw;

        span {
          font-size: inherit;
        }
      }

      p {
        font-size: 1vw;
      }

      .social .contact-me img {
        width: 3vw;
      }

      .social .contact-social a img {
        width: 3vw;
      }
    }

    form {
      input::placeholder {
        font-size: 0.8vw;
      }

      textarea::placeholder {
        font-size: 0.8vw;
      }

      .button {
        font-size: 1.2vw;
      }
    }
  }

  #main-footer {
    p {
      font-size: 2rem;
    }
  }
}

@media (max-width: 1366px) {
  #header-home .context-home .personal_image {
    right: 0;
  }
}

@media (max-width: 1024px) and (max-height: 1365px) {
  #header-home {
    .navbar {
      display: grid;
      grid-template-columns: 0.5fr 2fr;
    }
  }

  #about {
    .about-text {
      margin: 0 15%;
    }
  }

  #job-electrical {
    .wrapper {
      .wrapper-1 {
        .boxes {
          grid-gap: 1rem;

          p {
            font-size: 1vw;
          }
        }
      }

      .logo-tech {
        top: -10rem;
        width: 70vw;
      }
    }
  }

  #job-frontend {
    .wrapper-1 {
      .boxes {
        .container-box .box:nth-child(even) {
          margin-left: 1rem;
        }
      }

      .img-frontend {
        width: 60vw;
      }
    }
  }

  .context {
    .social {
      .contact-me {
        flex-direction: column;
      }
    }
  }
}

//IPAD PRO*****************************************************

@media (max-width: 1024px) and (min-height: 1366px) {
  #header-home {
    height: 60vh;

    .green-background {
      img {
        height: 10vh;
      }
    }

    .navbar {
      display: grid;
      grid-template-columns: 0.5fr 2fr;
    }

    .context-home {
      .content-text {
        margin-top: 15vh;
        .wrapper {
          h1 {
            font-size: 4.5vmin;
          }
        }

        h2 {
          font-size: 2vmin;
        }
      }

      .buttons-home {
        .box {
          margin-right: 10%;

          .btn-box {
            position: absolute;
            padding: 3.5vmin 10vmin;
          }
        }

        .btn-header {
          a {
            font-size: 3vmin;
          }
        }
      }

      .personal_image {
        position: absolute;
        right: 0;

        img {
          width: 10rem;
        }
      }
    }
  }

  #about {
    height: 35vh;

    .about-text {
      margin: 0;
      padding: 0 25%;
    }
  }

  #job-electrical .wrapper-1 .boxes {
    grid-gap: 1rem;
  }

  #job-electrical .wrapper .logo-tech {
    top: -11rem;
  }

  #job-frontend .wrapper-1 .img-frontend {
    width: 60vw;
  }

  #job-frontend .wrapper-1 .boxes .container-box .box {
    margin-left: 1rem;
  }

  .context {
    .social {
      .contact-me {
        flex-direction: column;
      }
    }
  }
}

//IPAD**************************************************

@media (max-width: 768px) and (min-height: 1000px) {
  .logo {
    width: 8rem;
    height: 3rem;
  }

  #header-home {
    height: 60vh;

    .green-background {
      img {
        height: 50vh;
        min-height: 0px;
      }
    }

    .phone_bg {
      display: none;
    }

    .navbar {
      grid-template-columns: 0fr 2fr;

      ul {
        li {
          padding: 1rem 1rem;
          a {
            font-size: 0.7rem;

            &.btn {
              font-size: 0.9rem;
            }
          }
        }
      }
    }

    .context-home {
      .content-text {
        margin-top: 10vh;

        .wrapper {
          h1 {
            font-size: 4vw;
          }
        }
        .buttons-home {
          .box {
            .btn-box {
              transition: none;
            }

            &:hover {
              .btn-box {
                padding: 4vmin 12vmin;
              }
            }

            .btn-header {
              a {
                font-size: 3vmin;
              }
            }
          }
        }
      }
    }
  }

  #about {
    height: 35vh;

    .about-text {
      margin: 0;
      padding: 0 25%;

      p {
        padding: 3% 5%;
      }
    }
  }

  #job-electrical {
    .wrapper-1 {
      top: -3rem;
      .boxes {
        grid-gap: 1rem;

        .box {
          .content {
            img {
              margin-bottom: 0;
            }

            .text {
              margin: 0;
              padding: 0 0.5rem;
            }
          }
        }
      }
    }
    .wrapper {
      margin-top: 3rem;
      height: 40vh;
      .logo-tech {
        top: -9rem;
      }
    }
  }

  #job-frontend .wrapper-1 {
    top: -6rem;
    .img-frontend {
      left: -5%;
    }
    .boxes .container-box {
      margin-left: 1rem;

      .box {
        &:nth-child(even) {
          margin-left: 1rem;
        }
        .content {
          img {
            margin-bottom: 0;
          }

          .text {
            margin: 0;
            padding: 0 0.5rem;
          }
        }
      }
    }
  }

  #contact {
    padding: 0;
    justify-content: left;
    .context {
      width: 100%;
    }

    form {
      display: none;
    }
  }
}

//Smartphone*********************************************

@media (max-width: 600px) {
  html {
    overflow: scroll;
    overflow-x: hidden;
  }
  ::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }

  body {
    background: #fff;
  }

  .logo {
    width: 159px;
    height: 52px;
  }

  #header-home {
    height: 100vh;

    .green-background {
      left: 0;
      .laptop_bg {
        visibility: hidden;
      }

      .phone_bg {
        position: absolute;
        top: 0;
        width: 100vw;
        min-height: none;

        visibility: visible;
      }
    }

    .navbar {
      margin-top: 2rem;
      display: flex;
      align-content: center;
      align-items: center;

      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        width: 100vw;
      }

      ul > li {
        margin-bottom: 1rem;
        a {
          font-size: 1.5rem;
        }
      }
      ul > li:last-child {
        padding: 0;
        margin-top: 2rem;
        a.btn {
          font-size: 1.8rem;
        }
      }

      .menu-wrap {
        margin-top: 1.5rem;
        position: fixed;
        top: 0;
        right: 1.5rem;
        z-index: 2;
      }

      .menu-wrap .toggler {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        width: 50px;
        height: 50px;

        opacity: 0;
        display: block;
      }

      .menu-wrap .hamburguer {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        padding: 1rem;
        background: $medium-text-color;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      /*Hamburguer Line*/
      .menu-wrap .hamburguer > div {
        position: relative;
        flex: none;
        width: 100%;
        height: 2px;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease;
      }

      .menu-wrap .hamburguer > div:before,
      .menu-wrap .hamburguer > div:after {
        content: "";
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: 2px;
        background: inherit;
      }

      .menu-wrap .hamburguer > div:after {
        top: 10px;
      }

      /*Transition to X*/
      .menu-wrap .toggler:checked + .hamburguer > div {
        transform: rotate(135deg);
      }
      .menu-wrap .toggler:checked + .hamburguer > div:before,
      .menu-wrap .toggler:checked + .hamburguer > div:after {
        top: 0;
        transform: rotate(90deg);
      }

      /* Rotate On Hover when checked*/
      .menu-wrap .toggler:checked:hover + .hamburguer > div {
        transform: rotate(225deg);
      }

      /*Show Menu*/

      .menu-wrap .toggler:checked ~ .menu {
        visibility: visible;
      }

      .menu-wrap .toggler:checked ~ .menu > div {
        transform: scale(1);
        transition-duration: 0.5s;
      }

      .menu-wrap .toggler:checked ~ .menu > div > div {
        opacity: 1;
        transition: opacity 0.4s ease 0.4s;
      }

      .menu-wrap .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        overflow: hidden;
        display: flex;

        align-items: center;
        justify-content: center;
      }

      .menu-wrap .menu > div {
        background: $medium-text-color;
        width: 200vw;
        height: 200vh;
        display: flex;
        flex: none;
        align-items: center;
        justify-content: center;

        transform: translateX(150vw);
        transition: all 0.4s ease-in-out;
      }
    }

    .context-home {
      margin: 0;
      margin-top: 20%;

      .content-text {
        margin: 0;
        .wrapper {
          margin-bottom: 0.5rem;

          h1 {
            display: flex;
            flex-direction: column;
            font-size: 1.8rem;

            span {
              margin-bottom: 0.5rem;
              font-size: 0.7rem;
            }
          }
        }

        h2 {
          font-size: 1rem;
          br {
            display: none;
          }
        }
      }

      .buttons-home {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        margin-top: 15%;

        .box {
          margin-right: 10%;
          margin-bottom: 2rem;

          &:hover {
            .btn-box {
              padding: 2.5rem 6rem;
            }
          }
          .btn-box {
            position: absolute;
            padding: 2.5rem 6rem;
          }
        }

        .btn-header {
          a {
            font-size: 1.5rem;
          }
        }
      }

      .personal_image {
        visibility: hidden;
      }
    }
  }

  #about {
    height: 100%;
    margin-top: 2rem;

    .about-text {
      margin: 0;
      padding: 0;

      h1 {
        margin-bottom: 0rem;
        font-size: 1.5rem;
      }

      p {
        padding: 1rem 2rem;
        font-size: 0.7rem;
      }

      .lead {
        font-size: 0.8rem;
      }

      .context {
        background: $primary-color;
      }

      .buttons-about {
        align-items: center;
        justify-content: center;
        margin: 0;
        margin-top: 1rem;

        img {
          width: 10rem;
          display: inline-block;
          width: 146px;
          height: 185px;
        }

        .contact-btn {
          flex-direction: column;
          width: 40%;

          a {
            width: 100%;
            font-size: 1rem;
            margin-bottom: 0.5rem;

            &:first-child {
              width: 100%;
            }
          }
        }
      }
    }
  }

  #job {
    &-electrical {
      .wrapper {
        height: 100%;
        margin: 0;
        padding-top: 1rem;

        h1 {
          font-size: 1rem;
        }

        .header {
          font-size: 1.1rem;
          background: $primary-color;
          width: 70vw;
          padding: 0.5rem 1rem 0.1rem 1rem;
          color: #fff;
          margin-bottom: 2rem;
        }

        .logo-tech {
          display: none;
        }
        .wrapper-1 {
          position: unset;
          top: 0;
          margin-left: 0;

          overflow-x: scroll;
          scroll-snap-type: x proximity;

          .boxes {
            position: unset;
            z-index: initial;

            grid-template-columns: repeat(5, 1fr);

            margin-bottom: 5%;
            margin-left: 0;
            grid-gap: 1rem;
            width: 100vw;

            .empty {
              width: 20vw;
              display: inline-block;
            }

            .box {
              height: 220px;
              width: 210px;
              padding: 0;

              .content {
                margin: auto;
                padding: 0;

                img {
                  width: 20%;
                  margin-bottom: 0;
                }

                .lead {
                  font-size: 0.8rem;
                  margin: 0.5rem 0;
                }

                .text {
                  font-size: 0.7rem;
                }

                .text {
                  padding: 0 0.5rem;
                }
              }
            }
          }

          img:last-child {
            display: none;
          }
        }
      }
    }

    &-frontend {
      .wrapper {
        height: 100%;
        margin: 0;
        padding-top: 1rem;
        background: $secondary-color;

        .header {
          font-size: 1.1rem;
          background: $primary-color;
          width: 70vw;
          padding: 0.5rem 1rem 0.1rem 1rem;
          color: #fff;
          margin-bottom: 2rem;
        }

        .wrapper-1 {
          top: 0;
          position: unset;
          overflow-x: scroll;
          scroll-snap-type: x proximity;

          .boxes {
            margin-bottom: 10%;
            margin-top: 0;
            margin-left: 0;
            width: 100%;
            margin-bottom: 5%;
            display: inline-block;
            z-index: initial;
            position: unset;

            .empty {
              width: 20vw;
              display: inline-block;
            }

            .logo-tech {
              display: none;
            }

            .container-box {
              // position: relative;
              // left: 20vw;

              display: grid;
              grid-template-columns: repeat(4, 1fr);
              grid-gap: 1rem;

              .box {
                height: 220px;
                width: 210px;
                margin-left: 0;

                .content {
                  padding: 0 5%;
                  margin: auto;
                  img {
                    width: 20%;
                    margin-bottom: 0;
                  }

                  .lead {
                    font-size: 0.8rem;
                    margin: 0.5rem 0;
                  }

                  .text {
                    font-size: 0.7rem;
                  }

                  .text {
                    padding: 0 0.5rem;
                  }
                }
              }
            }
          }
        }
      }
      .img-frontend {
        display: none;
      }
    }
  }

  #portfolio {
    // .boxes {
    //   display: block;
    //   margin: 1rem 1rem;
    // }

    // .btn-more {
    //   a {
    //     margin-bottom: 2rem;
    //   }
    // }
    .construction {
      img {
        width: 50%;
      }
    }
  }

  #contact {
    margin: 0;
    padding: 0;
    justify-content: left;
    background: $secondary-color;

    .context {
      width: 100%;

      h1 {
        font-size: 6vw;
        span {
          font-size: 6vw;
        }
      }

      p {
        font-size: 0.8rem;
      }

      .social {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0.5rem;

        .contact-me {
          margin: 0;
          flex-direction: row;
          img {
            margin-right: 1rem;
          }
          p {
            display: none;
          }
        }

        .contact-social {
          margin: 0;
        }
      }
    }

    form {
      display: none;
    }
  }

  #main-footer {
    background: $secondary-color;

    padding: 0.5rem;
  }
}

@media (max-width: 320px) {
  #header-home .context-home .content-text .wrapper h1 {
    font-size: 1.3rem;
  }

  #header-home .context-home .content-text h2 {
    font-size: 0.8rem;
  }

  #about .about-text .buttons-about .contact-btn a {
    font-size: 0.8rem;
  }
}
