$website-width: 1564px;
$primary-color: #00c896;
$secondary-color: #d9eddf;
$light-text-color: #fff;
$dark-text-color: #000;
$medium-text-color: #2f4858;

$bg-image: url("../img/Group.jpg");
$green-image: url("../img/home_bg_effect.png");
