@import "variables";
@import "utility";
@import "mobile";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: $secondary-color;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: $light-text-color;
}

ul {
  list-style: none;
}

//Logo
.logo {
  width: 214px;
  height: 70px;
  left: 180px;
  top: 17px;
}

//Home-Page
#header-home {
  background: $bg-image no-repeat center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  color: $light-text-color;

  position: relative;
  z-index: 0;

  //Green effect
  .green-background {
    position: absolute;
    top: 0;
    left: -10%;
    z-index: -1;
    img {
      width: 100vw;
      height: 80vh;
    }
  }

  .navbar {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 1.5rem;

    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      li {
        padding: 1rem 1.2rem;

        a {
          font-size: 1rem;
          color: #fff;
          text-transform: uppercase;
          border-bottom: 3px transparent solid;
          padding-bottom: 0.5rem;
          transition: border-color 0.5s;

          &:hover {
            border-color: $secondary-color;
          }

          &.current {
            border-color: $secondary-color;
          }

          &.btn {
            border-bottom: 0;
            padding-bottom: 1rem;
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  // Context-home
  .context-home {
    position: absolute;
    bottom: 0;
    margin-left: 2rem;
    width: 100%;
    overflow: hidden;

    display: grid;
    grid-template-areas:
      "text img"
      "text img"
      "social img";

    .content-text {
      grid-area: text;
      margin-top: 20%;

      .wrapper {
        display: flex;
        align-items: baseline;
        margin-bottom: 2rem;

        span {
          font-size: 1.5rem;
        }

        h1 {
          line-height: normal;
          font-size: 48px;
          text-transform: uppercase;
        }
      }
    }

    .buttons-home {
      margin-top: 2.5rem;
      display: flex;

      .box {
        margin-right: 8rem;

        .btn-box {
          transition: padding 0.3s ease-in-out;
          max-height: 4rem;
        }

        &:hover {
          .btn-box {
            padding: 3rem 9rem;
          }
        }
      }

      .btn-box {
        position: absolute;
        padding: 2.5rem 7.5rem;
        background: $primary-color;
        z-index: -1;
      }

      .btn-header {
        display: flex;
        flex-flow: column;
        padding-top: 1rem;
        padding-left: 0.5rem;

        a {
          text-transform: uppercase;
          line-height: normal;
          font-size: 2.2rem;
        }
      }
    }

    .social {
      grid-area: social;
      align-self: end;
      padding: 0.5rem;

      img {
        margin-right: 2rem;

        &:hover {
          opacity: 0.7;
        }
      }
    }

    .personal_image {
      grid-area: img;

      img {
        margin-bottom: -0.4rem;
        margin-right: 15rem;
        width: 616px;
        height: 780px;
      }
    }
  }
}

//About Me
#about {
  height: 70vh;
  background: #fff;

  .about-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 25%;
    padding: 0 5rem 0 5rem;

    h1 {
      margin-bottom: 1rem;
      font-size: 2.5rem;
    }

    p {
      padding: 1rem 5rem 1rem 5rem;
      border: 2px solid $primary-color;
    }

    .lead {
      font-size: 1.5rem;
    }

    .context {
      background: $primary-color;
    }

    .buttons-about {
      display: flex;
      justify-content: flex-start;
      margin-top: 1rem;
      width: 100%;
      align-items: center;
      justify-content: center;

      a {
        border: 2px solid $primary-color;
        text-transform: uppercase;
        width: 100%;
        font-size: 1.3rem;
        padding: 0.5rem 0;

        &:first-child {
          background: #fff;
          color: $primary-color;
          margin-right: 1rem;
          width: 35%;
        }
      }
    }
  }
}
//Electrical Enginer
#electrical {
  background: $secondary-color;

  h1 {
    font-size: 1.8rem;
    background: $primary-color;
    margin: 5% 65% 10% 0;
    padding: 3rem 0.5rem 0.5rem 4rem;
    text-align: end;
    color: #fff;
  }

  .wrapper {
    display: grid;
    margin-left: 8%;
    grid-template-areas:
      "boxes img"
      "tech img";
    position: relative;
    z-index: 1;

    .boxes {
      grid-area: boxes;
      display: flex;

      .main-box {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 1rem;
        padding: 3rem 0;
        // width: 306px;
        // height: 288px;
        width: 30%;
        height: 70%;
        background: #fff;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

        h2 {
          font-weight: 600;
          font-size: 1.2rem;
          padding: 0.5rem;
        }

        img {
          width: 15%;
          margin: auto;
        }

        p {
          font-size: 1rem;
          margin: 1rem;
        }
      }
    }
    .tech {
      grid-area: tech;
      margin: 0 auto;
    }

    .eletrical-img {
      grid-area: img;
      position: relative;
      top: -25%;
      left: -15%;
      z-index: -1;
      height: 70%;

      img {
        width: 110%;
      }
    }
  }
}
