@import "variables";
@import "utility";

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: "Montserrat", sans-serif;
  background: $secondary-color;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: $light-text-color;
}

ul {
  list-style: none;
}

//Logo
.logo {
  width: 13rem;
  height: 4.5rem;
}

//Home-Page
#header-home {
  background: $bg-image no-repeat center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  color: $light-text-color;

  position: relative;
  z-index: 0;

  //Green effect
  .green-background {
    position: absolute;
    top: 0;
    left: -5%;
    z-index: -1;

    .phone_bg {
      visibility: hidden;
    }

    img {
      width: 100vw;
      height: 80vh;
      min-height: 661px;
    }
  }

  .navbar {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 1.5rem;

    input {
      display: none;
    }

    .hamburguer {
      display: none;
    }

    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      li {
        padding: 1rem 1.2rem;

        &:last-child {
          padding-right: 0;
        }

        a {
          font-size: 1vw;
          color: #fff;
          text-transform: uppercase;
          border-bottom: 3px transparent solid;
          padding-bottom: 0.5rem;
          transition: border-color 0.5s;

          &:hover {
            border-color: $secondary-color;
          }

          &.current {
            border-color: $secondary-color;
          }

          &.btn {
            border-bottom: 0;
            padding-bottom: 1rem;
            font-size: 1.2vw;
          }
        }
      }
    }
  }

  // Context-home
  .context-home {
    margin-left: 2rem;
    overflow: hidden;

    display: flex;

    .content-text {
      margin-top: 25vh;

      .wrapper {
        display: flex;
        align-items: baseline;
        margin-bottom: 2rem;

        span {
          font-size: 2vmin;
          text-transform: capitalize;
        }

        h1 {
          line-height: normal;
          font-size: 5vmin;
          text-transform: uppercase;
        }
      }

      h2 {
        font-size: 2vmin;
      }
    }

    .buttons-home {
      margin-top: 2.5rem;
      display: flex;

      .box {
        margin-right: 15%;

        .btn-box {
          transition: padding 0.3s ease-in-out;
          max-height: 4rem;
        }

        &:hover {
          .btn-box {
            padding: 3rem 8rem;
          }
        }
      }

      .btn-box {
        position: absolute;
        padding: 4vmin 12vmin;
        background: $primary-color;
        z-index: -1;
      }

      .btn-header {
        display: flex;
        flex-flow: column;
        padding-top: 1rem;
        padding-left: 0.5rem;

        a {
          text-transform: uppercase;
          line-height: normal;
          font-size: 3.5vmin;
        }
      }
    }

    .social {
      position: absolute;
      bottom: 0;
      align-self: end;
      padding: 0.5rem;

      img {
        margin-right: 2rem;

        &:hover {
          opacity: 0.7;
        }
      }
    }

    .personal_image {
      position: absolute;

      bottom: 0;
      width: 50%;
      // max-height: 750px;
      height: 80%;
      right: 0;
    }
  }
}

//About Me
#about {
  height: 75vh;
  background: #fff;

  .about-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 25%;
    padding: 0 1rem;

    h1 {
      margin-bottom: 1rem;
      font-size: 2.5vw;
    }

    p {
      padding: 1rem 5rem 1rem 5rem;
      border: 3px solid $primary-color;
      font-size: 1.1vw;
    }

    .lead {
      font-size: 1.4vw;
    }

    .context {
      background: $primary-color;
    }

    .buttons-about {
      display: flex;
      justify-content: flex-start;
      margin-top: 1rem;
      width: 100%;
      align-items: center;

      img {
        display: none;
      }

      .contact-btn {
        width: 100%;
        display: flex;

        a {
          border: 3px solid $primary-color;
          text-transform: uppercase;
          width: 100%;
          font-size: 1.3vw;
          padding: 0.5rem 0;

          &:first-child {
            background: #fff;
            color: $primary-color;
            margin-right: 1rem;
            width: 35%;
          }
        }
      }
    }
  }
}

#job {
  //Eletrical Engineer
  &-electrical {
    background: $secondary-color;

    .wrapper {
      margin-top: 5rem;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;

      .header {
        font-size: 1.5vw;
        background: $primary-color;
        width: 35vw;
        padding: 3rem 0.5rem 0.5rem 4rem;
        text-align: end;
        color: #fff;
      }

      &-1 {
        position: relative;
        top: -5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .boxes {
          position: relative;
          z-index: 1;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 2rem;

          margin-left: 2rem;

          .empty {
            display: none;
          }

          .box {
            display: flex;
            align-content: center;
            justify-content: center;
            background: #fff;
            color: $medium-text-color;
            padding: 5% 0;
            text-align: center;
            width: 100%;
            margin: 0;

            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

            &:nth-child(even) {
              background: #fff;
              color: $medium-text-color;
            }

            .content {
              display: flex;
              flex-direction: column;
              padding: 5%;

              margin: 0 auto;

              .lead {
                font-size: 1vw;
                margin: 0.5rem;
              }

              .text {
                font-size: 0.9vw;
              }

              img {
                width: 15%;
                margin: 0.5rem auto;
              }
            }
          }
        }
      }

      .img-electrical {
        position: relative;
        left: -1%;
        z-index: 0;
        width: 40vw;
        // min-width: 500px;
        margin-right: 1rem;
        display: block;
      }

      .logo-tech {
        position: relative;
        top: -15rem;
        width: 60vw;

        display: flex;
        justify-content: center;
        // margin: 5rem 0 0 2rem;
        padding: 0 2rem;

        img {
          width: 20%;
          margin: 0 1rem;
        }
      }
    }
  }

  &-frontend {
    background: $secondary-color;

    .wrapper {
      .header {
        font-size: 1.5vw;
        background: $primary-color;
        width: 35vw;
        padding: 3rem 0.5rem 0.5rem 4rem;
        text-align: end;
        color: #fff;
      }

      &-1 {
        position: relative;
        top: -4rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .boxes {
          z-index: 1;
          position: relative;
          display: grid;
          grid-template-rows: 1fr auto;
          margin-top: 11rem;
          margin-left: 2rem;
          justify-content: center;
          align-items: center;
          width: 60vw;

          .logo-tech {
            display: flex;
            justify-content: center;
            padding: 0 2rem;
            margin-top: 2rem;
            i {
              color: $medium-text-color;
              font-size: 4vw;
              margin: 1.5rem;
            }
          }

          .container-box {
            display: flex;

            .empty {
              display: none;
            }

            .box {
              display: flex;
              align-content: center;
              justify-content: center;
              background: #fff;
              color: $medium-text-color;
              padding: 5% 0;
              text-align: center;
              width: 100%;
              margin-left: 2rem;

              box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

              .content {
                display: flex;
                flex-direction: column;
                padding: 5%;

                margin: 0 auto;

                .lead {
                  font-size: 1vw;
                  margin: 0.5rem;
                }

                .text {
                  font-size: 0.9vw;
                }

                img {
                  width: 15%;
                  margin: 0.5rem auto;
                }
              }
            }
          }
        }

        .img-frontend {
          position: relative;
          left: -1%;
          z-index: 0;
          width: 80vw;
        }

        .portfolio-btn {
          flex-direction: row;
        }
      }
    }

    .portfolio-btn {
      display: flex;
      display: none;
      justify-content: center;
      margin-bottom: 1rem;

      a {
        text-align: center;
        padding: 1rem;
        cursor: pointer;

        h1 {
          font-weight: 800;
          font-size: 1.2vw;
          color: $medium-text-color;

          &:hover {
            margin-bottom: 0.5rem;
          }
        }
      }
    }
  }
}

#portfolio {
  background: #fff;
  overflow: hidden;

  .construction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 3rem auto;

    h1 {
      text-align: center;
      font-size: 2rem;
      color: $medium-text-color;
      margin-bottom: 2rem;
    }

    img {
      width: 20%;
    }
  }

  .boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 5rem auto 3rem auto;
    justify-content: center;

    .box {
      img {
        width: 100%;
      }
    }
  }

  .btn-more {
    width: 100vw;
    display: flex;
    justify-content: center;

    a {
      border: 3px solid $primary-color;
      background: #fff;
      color: $primary-color;
      font-weight: 700;
      font-size: 1rem;
      margin-bottom: 5rem;

      &:hover {
        background: $primary-color;
        color: #fff;
      }
    }
  }
}

// Contact
#contact {
  display: flex;
  padding: 5rem 4rem;
  padding-bottom: 0;
  margin: 1rem 5%;
  justify-content: center;

  .context {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 2rem;

    h1 {
      color: $primary-color;
      font-weight: 600;
      font-size: 2rem;
      text-transform: capitalize;
      margin-bottom: 1rem;

      span {
        font-size: 2rem;
        color: #000;
      }
    }

    p {
      font-weight: 500;
      font-size: 1rem;
      text-transform: capitalize;
      margin-bottom: 1rem;
    }

    .social {
      display: grid;
      grid-template-areas:
        "contact"
        "social";

      .contact-me {
        grid-area: "contact";
        display: flex;

        .mail,
        .phone {
          display: flex;
        }

        margin-bottom: 1rem;

        p {
          margin: auto 1rem;
        }

        img {
          width: 3rem;
        }
      }

      .contact-social {
        grid-area: "social";

        a {
          margin-right: 1rem;

          img {
            width: 3rem;
          }
        }
      }
    }
  }

  form {
    background: #fff;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 2rem 1rem 2rem;
    width: 40vw;

    .button {
      font-family: "Montserrat", sans-serif;
      background: #00c896;
      border-radius: 28px;
      padding: 0.8rem 3rem;
      color: #fff;
      font-size: 1.2rem;
      font-weight: 800;
    }

    input {
      width: 100%;
      margin-bottom: 1rem;
      border: none;
      border-bottom: 1px solid #d9eddf;
      padding: 0.2rem;

      &::placeholder {
        color: #000;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 600;
        font-family: Montserrat;
      }
    }

    textarea {
      padding: 0.2rem;
      border: none;
      border-bottom: 1px solid #d9eddf;
      border-left: 1px solid #d9eddf;
      margin-bottom: 1rem;

      &::placeholder {
        color: #000;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 600;
        font-family: Montserrat;
      }
    }
  }
}

#main-footer {
  text-align: center;
  margin: 2rem;
  p {
    font-weight: 600;
    font-size: 1vw;
  }
}

@import "screens";
